.document-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #F8F9FA;
  overflow: auto;

  .react-pdf__Document {
    display: flex;
    height: 100%;
  }

  .page {
    background-color: #F8F9FA !important;
    display: flex;
    margin: auto;
  }

  .page > [class*="canvas"] {
    padding: 50px 0;
    width: auto !important;
  }
}