.document-section {
  flex: 1;
  background-color: #F8F9FA;

  .react-pdf__Document,
  .page {
    height: 100%;
  }

  .page {
    display: flex;
    background-color: inherit !important;
  }

  .page > [class*="canvas"] { 
    margin: auto;
    width: auto !important;
  }
}