@use "../../variables" as *;

.file-form,
#dropbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.file-form {
  width: 100vw;
  height: 100vh;
}

#dropbox {
  gap: $spacing-sm;
  min-width: 500px;
  min-height: 500px;
  border: 2px solid $primary-accent-color;
  border-radius: 8px;
}