@use "../../variables" as *;

.stamps-list {
  padding: $spacing-md;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-sm;

  .stamp-item {
    position: relative;
    border: 1px solid $border-color;
    cursor: pointer;
  }

  .stamp {
    display: block;
    width: 100px;
    height: 100px;
  }

  .add-stamp_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;

    &:hover {
      border-color: $primary-accent-color;
    }
  }

  .add-stamp_container:hover .add-stamp {
    color: $primary-accent-color;
  }

  .add-stamp_icon {
    color: #4d5158;
  }
}

.clone {
  position: absolute;
  z-index: 1;
}