@use "../../variables" as *;

.stamps-list {
  position: sticky;
  top: 0;
  padding: $spacing-md;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: $spacing-sm;
  z-index: 5;

  .stamp-item {
    position: relative;
    border: 1px solid $border-color;
    cursor: pointer;
  }

  .stamp {
    display: block;
    width: 100px;
    height: 100px;
  }
}

.clone {
  position: absolute;
  z-index: 1;
}