@use "../../variables" as *;

.closeBtn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.closeBtn:hover .closeIcon {
  color: $primary-accent-color;
}

.modal-controls_wrapper {
  text-align: center;
}

.modal-controls {
  padding: 7px 12px;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.modal-controls + .modal-controls {
  border-left: 1px solid black;
}