@use "../../variables" as *;

#stampsCanvas {
  display: flex;
  gap: $spacing-sm;
  min-width: 500px;
  min-height: 500px;
  border: 2px solid $primary-accent-color;
  border-radius: 8px;
}

.canvas-button_wrapper {
  text-align: center;
}

.canvas-button {
  padding: 7px 12px;
  cursor: pointer;
}