@use "./variables" as *;

main {
  display: flex;
  flex-direction: row;
}

.sidebar {
  min-width: 240px;
  height: 942px;
  border: 1px solid $border-color;
  border-top: none;

  .heading {
    font-size: 16px;
    font-weight: 700;
    color: #111827;
    padding: $spacing-sm $spacing-sm $spacing-sm $spacing-md;
    border-bottom: 1px solid $border-color;
  }
}

.stamps-list {
  list-style: none;
  padding: $spacing-md;
  margin: 0;
  display: flex;
  justify-content: space-around;
  gap: $spacing-sm;

  .stamp {
    cursor: pointer;
  }
}