@use "./variables" as *;


#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.sidebar {
  min-width: 240px;
  border: 1px solid $border-color;
  border-top: none;
  z-index: 5;

  .heading {
    font-size: 16px;
    font-weight: 700;
    color: #111827;
    padding: $spacing-sm $spacing-sm $spacing-sm $spacing-md;
    border-bottom: 1px solid $border-color;
  }
}