@use "../../variables" as *;

.stamp {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.dragable-box {
  border: 2px solid rgba($color: #2A70C0, $alpha: 0.75);

  .rotate-btn {
    position: absolute;
    top: -25px;
    left: calc(50% - 8px);
  }
  .rotate-btn:hover {
    color: $primary-accent-color;
    cursor: pointer;
  }

  .delete-btn {
    position: absolute;
    top: -25px;
    right: 0;
    cursor: pointer;
  }

  .delete-btn_wrapper:has(:hover, :focus) {
    color: red;
  }
}

.dragable-box,
.dragable-box img,
.resize-handle {
  user-select: none;
}

.react-resizable-handle,
.custom-handle {
  z-index: 1;
}

.resize-handle {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $primary-accent-color;
}


.top-left {
  top: -4px;
  left: -4px;
  cursor: nw-resize;
}
.top-right {
  top: -4px;
  right: -4px;
  cursor: ne-resize;
}
.bottom-left {
  bottom: -4px;
  left: -4px;
  cursor: sw-resize;
}
.bottom-right {
  bottom: -4px;
  right: -4px;
  cursor: se-resize;
}